.input-exchange-money {
  position: relative;

  &__label {
    margin-bottom: 4px;
  }

  &__body {
    height: 52px;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    outline: none;

    transition: all var(--transition) ease;

    .btn {
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 4px;
      padding-bottom: 4px;

      color: var(--font-color-primary);

      background-color: var(--color-light-blue-gray);
      border: 1px solid var(--color-light-blue-gray);
      border-radius: 24px;

      &:hover {
        color: var(--font-color-primary);

        background-color: var(--color-light-blue);
        border-color: var(--color-blue-hover);
      }
      &:active {
        color: var(--font-color-primary);

        background-color: #dde5ff;
        border-color: var(--color-blue-active);
      }
    }

    .currency-name {
      .text {
        font-weight: 400;
      }
    }

    &:hover {
      border-color: var(--color-blue-hover);
    }
    &:focus-within {
      border-color: var(--color-blue-hover);
    }
    &:focus-visible {
      border-color: var(--color-blue-hover);
    }
    &:active {
      border-color: var(--color-blue-active);
    }
  }

  &__input {
    width: 100%;
    padding: 0;
    margin: 0;

    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    font-weight: var(--input-font-weight);
    color: var(--input-font-color);
    text-align: right;

    outline: none;

    cursor: pointer;

    &::-webkit-input-placeholder {
      color: var(--input-placeholder-color);
    }
    &::-moz-placeholder {
      color: var(--input-placeholder-color);
      text-overflow: ellipsis;

      opacity: 1;
    }
    &:-moz-placeholder {
      color: var(--input-placeholder-color);
      text-overflow: ellipsis;

      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: var(--input-placeholder-color);
      text-overflow: ellipsis;
    }
    &[placeholder] {
      text-overflow: ellipsis;
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[type="number"],
    &[type="number"]:hover,
    &[type="number"]:focus {
      appearance: none;
      -moz-appearance: textfield;
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    z-index: 5;

    display: none;
    padding-top: 24px;
    padding-bottom: 24px;

    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray-2);
    box-shadow: var(--block-shadow-desktop);
    border-radius: 8px;

    transition: all var(--transition) ease;

    &--open {
      display: flex;
    }
  }

  &__dropdown-search {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__dropdown-list {
    min-height: 40px;
    max-height: 240px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color-bg) var(--scrollbar-color-track);

    &::-webkit-scrollbar {
      width: 6px;
      height: 80%;
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-bg);
      border: 1px solid var(--scrollbar-color-bg);
      border-radius: 8px;
    }
  }

  &__dropdown-list-item {
    position: relative;

    display: flex;
    align-items: center;
    height: 40px;
    flex: 0 0 40px;
    padding-left: 24px;

    background-color: var(--color-white);
    cursor: pointer;

    transition: all var(--transition) ease;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-light-blue-gray);
    }
  }

  &__error {
    margin-top: 4px;

    .text {
      color: var(--color-red);
    }
  }
}

/* Modificator */
.input-exchange-money--error {
  .input-exchange-money__body {
    border-color: var(--color-red);
  }
}
// .input-exchange-money__body--desabled {
// }
