node_modules/

.DS_Store

**/DS_Store

packages/**/dist
packages/**/lib
packages/**/node_modules
packages/**/tsconfig.build.tsbuildinfo
packages/**/style.css

.idea/
.vscode/
.nova/
.gitpod.yml

lerna-debug.log
