@import "../../styles/mixins.scss";
.space {
  display: inline-flex;
}
.space--display-flex {
  display: flex;
}
.space--wrap {
  flex-wrap: wrap;
}
.space--wrap-reverse {
  flex-wrap: wrap-reverse;
}

@import "./space-styles/space-align.scss";
@import "./space-styles/space-justify.scss";
@import "./space-styles/space-direction.scss";
@import "./space-styles/space-row-gap.scss";
@import "./space-styles/space-column-gap.scss";
