.box--bg-color-primary {
  background-color: var(--box-bg-color-primary);
}
.box--bg-color-secondary {
  background-color: var(--box-bg-color-secondary);
}
.box--bg-color-tertiary {
  background-color: var(--box-bg-color-tertiary);
}
.box--bg-color-fourth {
  background-color: var(--box-bg-color-fourth);
}
.box--bg-color-fifth {
  background-color: var(--box-bg-color-fifth);
}
.box--bg-color-six {
  background-color: var(--box-bg-color-six);
}
