@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .space-#{$infix}-justify-center {
      justify-content: center;
    }
    .space-#{$infix}-justify-flex-end {
      justify-content: flex-end;
    }
    .space-#{$infix}-justify-flex-start {
      justify-content: flex-start;
    }
    .space-#{$infix}-justify-space-between {
      justify-content: space-between;
    }
    .space-#{$infix}-justify-space-around {
      justify-content: space-around;
    }
  }
}
