.btn--large {
  height: var(--button-large-height);
  padding: var(--button-large-pd);
}
.btn--medium {
  height: var(--button-medium-height);
  padding: var(--button-medium-pd);
}
.btn--small {
  height: var(--button-sm-height);
  padding: var(--button-sm-pd);
}
